# shared keys -------------------------------
NODE_ENV=development
# for runtime 
DATABASE_URL=postgresql://sunshine:8659@localhost:5432/postgres

# for migartions 
DIRECT_URL=postgresql://sunshine:8659@localhost:5432/postgres

# for redis 
REDIS_PORT=6379
REDIS_HOST=localhost

# for auth
PORT=3000
BETTER_AUTH_URL=http://localhost:4200
BETTER_AUTH_SECRET=125ccd8a2a116a559e3c8c8fa80bf573c2f37c0cc0dbc8e7c2019beee7f75#a6e


# ============================= OPTIONAL =================================
PROVIDER_TYPE=SMTP # support SMTP | RESEND
# FOR OTHER
PROVIDER_API_KEY=
# FOR SMTP
SMTP_EMAIL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=


# for error longs 
SENTRY_DSN=

